// start .sEmail
td {
	border-width: 0;
}
a {
	text-decoration: none;
}
p {
	margin-bottom: 0;
}
.sEmail {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	.logo {
		width: 157px;
		height: 41px;
		padding-left: 37px;
	}
	.tel1 {
		color: #404040;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.02em;
		display: block;
		font-weight: bold;
		text-align: right;
		padding-right: 34px;
	}
	.activation {
		background-image: url(https://vptorkhov.github.io/0002email/public/img/email-1.png);
		width: 530px;
		height: 393px;
		display: block;
		margin: 0 auto;
		p {
			max-width: 385px;
			color: #ffffff;
			font-size: 36px;
			line-height: 120%;
			text-align: center;
			font-weight: bold;
			padding-top: 170px;
			span {
				color: #404040;
			}
		}
	}
	.control {
		&-title {
			text-align: center;
			font-size: 25px;
			line-height: 120%;
			font-weight: bold;
			padding-top: 46px;
			padding-bottom: 52px;
		}
		&-img {
			width: 600px;
			height: 344px;
			display: block;
			margin: 0 auto;
		}
		&-link {
			padding-top: 16px;
			padding-bottom: 16px;
			color: #13bbf2;
			font-weight: bold;
			font-size: 20px;
			line-height: 120%;
			text-align: center;
			display: block;
			margin: 0 auto;
			width: 530px;
			background: #f1f1f1;
			border-radius: 20px;
		}
	}
	.info-table {
		.label {
			font-weight: bold;
			font-size: 20px;
			line-height: 120%;
			color: #404040;
		}
		.info {
			margin: 0;
			width: 435px;
			background: #f1f1f1;
			border-radius: 20px;
			padding-left: 24px;
			padding-top: 18px;
			padding-bottom: 18px;
			font-size: 20px;
			line-height: 120%;
			color: #404040;
			&-link {
				color: #13bbf2;
				margin: 0;
				width: 435px;
				background: #f1f1f1;
				border-radius: 20px;
				font-size: 20px;
				line-height: 120%;
				font-weight: bold;
			}
		}
	}
	.enter {
		&-title {
			font-weight: bold;
			font-size: 30px;
			line-height: 120%;
			text-align: center;
			color: #404040;
			padding-top: 38px;
			padding-bottom: 52px;
		}
		&-img {
			width: 498px;
			height: 340px;
			display: block;
			margin: 0 auto;
		}
		&-market {
			width: 119px;
			height: 35px;
			display: block;
		}
	}
	.director {
		&-title {
			font-weight: bold;
			font-size: 30px;
			line-height: 120%;
			text-align: center;
			color: #404040;
			padding-bottom: 52px;
			margin: 0;
		}
		&-img {
			width: 254px;
			height: 456px;
			display: block;
			margin: 0 auto;
		}
	}
	.subscr {
		&-title {
			font-weight: bold;
			font-size: 30px;
			line-height: 120%;
			text-align: center;
			color: #404040;
			padding-top: 56px;
			padding-bottom: 35px;
		}
		&-img {
			width: 358px;
			height: 291px;
			display: block;
			margin: 0 auto;
		}
	}
	.footer {
		background: #f1f1f1;
		&-btn {
			background-color: #13bbf2;
			border-radius: 20px;
			color: #ffffff;
			cursor: pointer;
			display: inline-block;
			font-weight: bold;
			font-size: 20px;
			line-height: 120%;
			padding: 17px 0;
			width: 530px;
			text-align: center;
		}
		.thanks {
			font-weight: bold;
			font-size: 30px;
			line-height: 120%;
			text-align: center;
			color: #13bbf2;
			padding-top: 26px;
			padding-bottom: 26px;
		}
		.appeal {
			font-size: 20px;
			line-height: 120%;
			text-align: center;
			color: #404040;
			padding-bottom: 26px;
		}
		.tel2 {
			color: #404040;
			font-size: 24px;
			line-height: 29px;
			letter-spacing: 0.02em;
			display: block;
			font-weight: bold;
			text-align: center;
			padding-bottom: 56px;
		}
	}
}
