mixin sEmail(data)
	// start sEmail
	table.sEmail(border='0' cellpadding='0' cellspacing='0' width='100%')
		tr
			td(align='center')
				center(style='max-width: 600px; width: 100%;')
					//if gte mso 9
						table(border='0' cellpadding='0' cellspacing='0' style='margin:0; padding:0')
							tr
								td
					table(border='1px solid black' cellpadding='0' cellspacing='0' style='margin:0; padding:0' width='100%')
						//- границу уберу после верстки
						tr
							td
								table(border='0' cellpadding='0' cellspacing='0' width='100%')
									tr
										td(style="padding-top:36px")
											img.logo(src="https://vptorkhov.github.io/0002email/public/img/svg/logo.svg" alt="" border="0")
										td(style="padding-top:36px")
											a.tel1(href="tel:+78007757427") 8 (800) 775-74-27
						tr
							td(style="padding-top:35px;position:relative")
								table(border='0' cellpadding='0' cellspacing='0' width='100%').activation
									tr
										td(style="padding-left:72px")
											p!=`Ваша учетная запись <span>Fusion POS</span></br>успешно активирована`
						tr
							td
								p.control-title Панель управления:
						tr
							td
								img.control-img(src="https://vptorkhov.github.io/0002email/public/img/email-2.png" alt="" border="0")
						tr
							td(style="padding-bottom:28px")
								a.control-link(href="https://shashlichniy-dvor.fusion24.ru/")  https://shashlichniy-dvor.fusion24.ru/
						tr
							td
								table(border='0' cellpadding='0' cellspacing='0' width='100%').info-table
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:17px")
											p.label Логин
										td(style="padding-left:20px;padding-bottom:17px")
											p.info Domen
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:17px")
											p.label Пароль
										td(style="padding-left:20px;padding-bottom:17px")
											p.info Login123
						tr
							td
								p.enter-title Данные для входа в приложение
						tr
							td
								img.enter-img(src="img/email-3.png" alt="" border="0")
						tr
							td
								table(border='0' cellpadding='0' cellspacing='0' width='100%')
									tr
										td(style="width:153px")
											img.enter-market(src="img/enter-1.png" style="margin-left: auto;")
										td(style="width:136px")
											img.enter-market(src="img/enter-2.png" style="margin-left: auto;")
										td(style="width:136px")
											img.enter-market(src="img/enter-3.png" style="margin-left: auto;")
										td(style="padding-left: 17px;padding-right: 17px;")
											img.enter-market(src="img/enter-4.png")
					//if gte mso 9

	// end sEmail