mixin sEmail(data)
	// start sEmail
	table.sEmail(border='0' cellpadding='0' cellspacing='0' width='100%')
		tr
			td(align='center')
				center(style='max-width: 600px; width: 100%;')
					//if gte mso 9
						table(border='0' cellpadding='0' cellspacing='0' style='margin:0; padding:0')
							tr
								td
					table(border='0' cellpadding='0' cellspacing='0' style='margin:0; padding:0' width='100%')
						//- границу уберу после верстки
						tr
							td
								table(border='0' cellpadding='0' cellspacing='0' width='100%')
									tr
										td(style="padding-top:36px")
											img.logo(src="https://vptorkhov.github.io/0002email/public/img/svg/logo.svg" alt="" border="0")
										td(style="padding-top:36px")
											a.tel1(href="tel:+78007757427") 8 (800) 775-74-27
						tr
							td(style="padding-top:35px;position:relative")
								table(border='0' cellpadding='0' cellspacing='0' width='100%').activation
									tr
										td(style="padding-left:72px")
											p!=`Ваша учетная запись <span>Fusion POS</span></br>успешно активирована`
						tr
							td
								p.control-title Панель управления:
						tr
							td
								img.control-img(src="https://vptorkhov.github.io/0002email/public/img/email-2.png" alt="" border="0")
						tr
							td(style="padding-bottom:28px")
								a.control-link(href="https://shashlichniy-dvor.fusion24.ru/")  https://shashlichniy-dvor.fusion24.ru/
						tr
							td
								table(border='0' cellpadding='0' cellspacing='0' width='100%').info-table
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:17px")
											p.label Логин
										td(style="padding-left:20px;padding-bottom:17px")
											p.info Domen
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:17px")
											p.label Пароль
										td(style="padding-left:20px;padding-bottom:17px")
											p.info Login123
						tr
							td
								p.enter-title Данные для входа в приложение
						tr
							td
								img.enter-img(src="https://vptorkhov.github.io/0002email/public/img/email-3.png" alt="" border="0")
						tr
							td(style="padding-top:25px;")
								table(border='0' cellpadding='0' cellspacing='0' width='100%')
									tr
										td(style="width:153px")
											img.enter-market(src="https://vptorkhov.github.io/0002email/public/img/enter-1.png" style="margin-left: auto;")
										td(style="width:136px")
											img.enter-market(src="https://vptorkhov.github.io/0002email/public/img/enter-2.png" style="margin-left: auto;")
										td(style="width:136px")
											img.enter-market(src="https://vptorkhov.github.io/0002email/public/img/enter-3.png" style="margin-left: auto;")
										td(style="padding-left: 17px;padding-right: 17px;")
											img.enter-market(src="https://vptorkhov.github.io/0002email/public/img/enter-4.png")
						tr
							td
								table(border='0' cellpadding='0' cellspacing='0' width='100%').info-table
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:17px;padding-top:64px")
											p.label Домен
										td(style="padding-left:20px;padding-bottom:17px;padding-top:64px")
											p.info Domen
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:17px")
											p.label Логин
										td(style="padding-left:20px;padding-bottom:17px")
											p.info Login123
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:17px")
											p.label Пароль
										td(style="padding-left:20px;padding-bottom:17px")
											p.info 1235658896
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:23px")
											p.label ПИН-код
										td(style="padding-left:20px;padding-bottom:23px")
											p.info 0000
						tr
							td
								p.director-title Приложение для руководителя
						tr
							td
								img.director-img(src="https://vptorkhov.github.io/0002email/public/img/email-4.png" alt="" border="0")
						tr
							td
								table(border='0' cellpadding='0' cellspacing='0' width='100%')
									tr
										td(style="padding-right:9px")
											img.enter-market(src="https://vptorkhov.github.io/0002email/public/img/enter-1.png" style="margin-left: auto;")
										td(style="padding-left:9px")
											img.enter-market(src="https://vptorkhov.github.io/0002email/public/img/enter-2.png" )
						tr
							td
								table(border='0' cellpadding='0' cellspacing='0' width='100%').info-table
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:17px;padding-top:64px")
											p.label Домен
										td(style="padding-left:20px;padding-bottom:17px;padding-top:64px")
											p.info Domen
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:17px")
											p.label Логин
										td(style="padding-left:20px;padding-bottom:17px")
											p.info Login123
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:17px")
											p.label Пароль
										td(style="padding-left:20px;padding-bottom:17px")
											p.info 1235658896
						tr
							td
								p.subscr-title Управление подпиской
						tr
							td
								img.subscr-img(src="https://vptorkhov.github.io/0002email/public/img/email-5.png" alt="" border="0")
						tr
							td
								table(border='0' cellpadding='0' cellspacing='0' width='100%').info-table
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:17px;padding-top:72px")
											p.label Адрес
										td(style="padding-left:20px;padding-bottom:17px;padding-top:72px")
											p.info
												a.info-link(href="https://my.fusionpos.ru/") https://my.fusionpos.ru/
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:17px")
											p.label Логин
										td(style="padding-left:20px;padding-bottom:17px")
											p.info Login123
									tr(style="height:60px")
										td(style="padding-left:34px;padding-bottom:37px")
											p.label Пароль
										td(style="padding-left:20px;padding-bottom:37px")
											p.info 1235658896
						tr
							td
								table(border='0' cellpadding='0' cellspacing='0' width='100%').footer
									tr
										td(style="padding-left:35px;padding-right:35px;padding-top:42px;")
											a.footer-btn(href="#") Быстрое начало работы
									tr
										td(style="padding-left:35px;padding-right:35px;padding-top:18px;")
											a.footer-btn(href="#") Документация по программе
									tr
										td
											p.thanks!=`Спасибо, что выбрали</br>Fusion POS!`
									tr
										td(style="padding-left:35px;padding-right:35px;")
											p.appeal В случае возникновения каких-либо проблем или сложностей в работе, вы можете обратиться по телефону:
									tr
										td
											a.tel2(href="tel:+78007757427") 8 (800) 775-74-27
					//if gte mso 9

	// end sEmail