extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sTEst00/_sTEst00.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent 
	a.btn.bnt-primary.link-modal-js(href="#modal-call") sadasdsa 
	a.btn.bnt-primary.link-modal-js(href="#modal-call") sadasdsa 
	+mob-mnu()
	+icon("telegram")
	+header()
	+top-nav()
	
	+topLine()
	+headerBlock()
	+sForm()
	+sContact()
	+footer()
      



