extends layout/main.pug

include ../blocks/sEmail/_sEmail.pug 
block variables
	- let  mainPage= 'main-page'
	- let  bg= null

block title
	- let  title= 'Письмо'
	title= title

block pagecontent 
	+sEmail()



